%h1.text-center Listing Users
.container
  %table.table-bordered.table-hover{style: 'width: 100%'}
    %thead
      %tr
        %th Email
        %th number of rates 

    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.rates.count
          %td
            = form_tag(user_generate_new_password_email_path(user)) do
              = submit_tag 'Send Reset Password Email', class: 'button', :confirm => 'Are you sure you want to email reset password instructions?'
          - if !user.admin?
            %td= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" }

