%h1.text-center Listing Chineses Post
= link_to 'New Chinese post', new_chinese_post_path, class: "btn btn-success text-center"
.container
  %table.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Content
        %th Source
        %th
        %th
        %th

    %tbody
      - @chinese_posts.each do |chinese_post|
        %tr
          %td= chinese_post.title
          %td= chinese_post.content
          %td= chinese_post.source
          %td= link_to 'Show', chinese_post
          %td= link_to 'Destroy', chinese_post, method: :delete, data: { confirm: 'Are you sure?' }
  %br