%p#notice= notice

.container-fluid
  .row
    .col-md-12
      .row
        .title-post.text-center
          %h3= @chinese_post.title
      .row{style: "margin: 0 20px;"}
        .content-post
          %table.table-bordered.table-hover{style:"width: 90%"}
            - @chinese_phrases.each do |phrase|
              %tr
                = hidden_field_tag :id_zh, phrase.id
                %td.zh-phrase{style:"width: 50%"}= phrase.content
                %td.vn-phrase{style:"width: 50%", "data-zh" => phrase.id}= phrase.vietnamese_phrases.first.content
              - phrase.vietnamese_phrases.each do |vn|
                %tr.hidden{class: "list-#{phrase.id}"}
                  %td
                  %td= vn.content

:javascript
  $('.vn-phrase').on("click", function(){
    var s = $(this).data("zh");
    var str = ".list-" + s;
    if($(this).hasClass("active")) {
      $(str).addClass("hidden");
      $(this).removeClass("active");
    }
    else {
      $(str).removeClass("hidden");
      $(this).addClass("active");
    }
  });